.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        color: var(--color-dark-1);
        display: inline-block;
        
        border-radius: .5rem;
        transition: all .3s;
    }
    
    
    &-primary {
        padding: 1rem 4rem;
        font-size: 1.6rem;
        background-color: var(--color-primary);
        
        &:hover {
            transform: translateY(-.5rem);
            box-shadow: var(--box-shadow-big);
        }
    }
    
    
    &-secondary {
        padding: .5rem 2rem;
        font-size: 1.3rem;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);
        background-color: var(--color-primary-light);
        
        &:hover {
            transform: translateY(-.3rem);
            box-shadow: 0 2rem 3rem rgba(0, 0, 0, .2);
        }
    }
    
    &--animated {
        animation: fadeUp .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
            
}
