.details {
    text-transform: uppercase;
    
    @media only screen and (max-width: $bp-medium) {
        text-align: center;
        margin-bottom: 3rem;
    }
    
    &__word {
        display: block;
        font-size: 1.3rem;
        
        @media only screen and (max-width: $bp-medium) {
            display: inline-block;
            margin-right: .5rem;
            font-size: 1.7rem;
        }
    }
    
    &__name {
        display: block;
        font-size: 4.5rem;
        font-weight: 300;
        letter-spacing: 1px;
        color: var(--color-primary);
        line-height: 1;
        transform: translateX(-.4rem);
        
        @media only screen and (max-width: $bp-large) {
            font-size: 4rem;
        }
        
        @media only screen and (max-width: $bp-medium) {
            margin: 1rem;
        }
        
    }
    
    &__job {
        display: block;
        margin-bottom: 1.5rem;
        font-size: 1rem;
    }
}