.quote {
    font-size: 3rem;
    position: relative;
    padding: 5rem 0 8rem;
    
    &__author {
        display: block;
        text-align: right;
        position: absolute;
        right: 20%;
        font-style: italic;
        font-weight: 300;
    }
}