.section-about {
    padding: 10rem 0;
    background-color: var(--color-grey-4);
    color: var(--color-grey-3);
}

.section-quote {
    
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
}

.section-works {
    padding: 6rem 0;
    background-color: var(--color-grey-4);
    border-bottom: 1px solid var(--color-grey-3);
    position: relative;
    text-align: center;
    overflow-x: hidden;
}

.section-contact {
    padding: 5rem 0;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/contact-bg.jpg);
    background-size: cover;
    background-position: center;
}
